@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none !important;
}

@font-face {
    font-family: 'ModernoFBComp';
    src: url("../font/modernofbcomp-semibold-maisfontes.c0b3/modernofbcomp-semibold.otf");
}

@font-face {
    font-family: 'Perpetua Titling MT';
    src: url("../font/perputa-mt/font-map-perpetua-titling-mt.png");
}

.body-bgimage {
    background-image: url("../images/bodybgimage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-color1 {
    background: var(--fc-black);
}

.sp {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-xmd);
    font-weight: 400;
    line-height: 21.79px;
    color: var(--fc-white);
}

.nav-percent1 {
    border-radius: 5px;
    border: 1px solid var(--fc-red);
    padding: 3px 4px;
    background: transparent;
}

.percent {
    font-family: 'Noto', sans-serif;
    font-size: var(--fs-xxmd);
    font-weight: 400;
    line-height: 19.07px;
    color: var(--fc-red);
}

.gap-60 {
    gap: 62px;
}

.nav-percent2 {
    border-radius: 5px;
    border: 1px solid var(--fc-yellow);
    padding: 3px 4px;
    background: transparent;
}

.percent2 {
    font-family: 'Noto', sans-serif;
    font-size: var(--fs-xxmd);
    font-weight: 400;
    line-height: 19.07px;
    color: var(--fc-yellow);
}

.hustlin {
    font-family: 'ModernoFBComp', sans-serif;
    font-size: var(--fs-xlg);
    font-weight: 400;
    line-height: 28.8px;
    color: var(--fc-black);
}

.wallet-btn {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-xxmd);
    font-weight: 600;
    line-height: 19.07px;
    text-align: left;
    color: var(--fc-black);
    padding: 12px 16px;
    background: var(--fc-yellow);
    border: 2px solid var(--fc-black);
    transition: 1s;
}

.wallet-btn:hover {
    background: var(--fc-black);
    color: var(--fc-yellow);
}

.max-w1140 {
    max-width: 1140px;
}

.about {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-xmd);
    font-weight: 400;
    line-height: 21.79px;
    color: var(--fc-black);
}
.about:hover{
color: var(--fc-black);
    text-shadow: 0 0 .65px var(--fc-black-shadow), 0 0 .65px;
    transition: 1s;
}

.m-heading {
    font-family: 'ModernoFBComp', sans-serif;
    font-size: var(--fs-xxxxl);
    font-weight: 400;
    line-height: 68.4px;
    text-align: center;
    text-shadow: 5px 0px 2px var(--fc-black-shadow);
    -webkit-text-stroke: 1px var(--fc-primary-brown-shadow);
    white-space: nowrap;
    color: var(--fc-black);
}

.heading-2 {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-xxl);
    font-weight: 400;
    line-height: 50.2px;
    max-width: 1140px;
    color: var(--fc-black);
    -webkit-text-stroke: 1px var(--fc-primary-brown-shadow);
    text-shadow: 3px 0px 2px var(--fc-black-shadow);
}

.line-bt {
    border-bottom: 2px solid var(--fc-black);
}

.py-64 {
    padding-top: 45px;
    padding-bottom: 47px;
}

.hardo-editor {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-xmd);
    font-weight: 400;
    line-height: 21.79px;
    color: var(--fc-black);
}

.para-1 {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-xxxlg);
    font-weight: 400;
    line-height: 27px;
    color: var(--fc-black);

}

.read-btn {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-xmd);
    font-weight: 400;
    line-height: 21.79px;
    color: var(--fc-black);
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--fc-black);
}
.read-btn:hover{
    color: var(--fc-black);
        text-shadow: 0 0 .65px var(--fc-black-shadow), 0 0 .65px;
        transition: 1s;
}

.br-right {
    border-right: 2px solid var(--fc-black);
}

/* ........................slider-section........................*/
.latest-twt {
    font-family: 'Perpetua Titling MT', sans-serif;
    font-size: var(--fs-xxxl);
    font-weight: 300;
    line-height: 83.2px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-text-stroke: 2px 2px 1px var(--fc-primary-brown-shadow);
    text-shadow: 3px 0px 2px var(--fc-black-shadow1);
    color: var(--fc-black);

}

.latest-twt1 {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-xxxl);
    font-weight: 400;
    line-height: 83.2px;
    text-shadow: 3px 3px 3px var(--fc-primary-brown-shadow);
    -webkit-text-stroke: 2px 2px 1px var(--fc-primary-brown-shadow);
    text-shadow: 3px 0px 2px var(--fc-black-shadow1);
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--fc-black);
}

.slider-box {
    padding: 48px 27px;
    width: 372px;
    height: 284px;
}

.br-left1 {
    border-left: 2px solid var(--fc-black);
}

.br-right1 {
    border-right: 2px solid var(--fc-black);
}

.etiam {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-xl);
    font-weight: 600;
    line-height: 39.85px;
    color: var(--fc-black);
    white-space: nowrap;
}

.slider-para1 {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-xmd);
    font-weight: 400;
    line-height: 21.79px;
    color: var(--fc-black);
    max-width: 327px;
    padding-top: 14px;
    padding-bottom: 15px;
}

.date {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-xxmd);
    font-weight: 400;
    line-height: 19.07px;
    color: var(--fc-black);
}

.read-btn2 {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-xxmd);
    font-weight: 400;
    line-height: 19.07px;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--fc-black);
}
.read-btn2:hover {
    color: var(--fc-black);
    text-shadow: 0 0 .65px var(--fc-black-shadow), 0 0 .65px;
    transition: 1s;
}

.slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}

.slick-dots {
    display: none !important;
}

.slick-slide {
    height: inherit !important;
}

/* .............................................minting-section............ */
.value-box {
    border: 2px solid var(--fc-black);
    width: 238px;
    height: 53px;
}

.de-box {
    padding: 2px 24px;
    background: transparent;
    color: var(--fc-black);
    font-size: var(--fs-xxmd);
    font-weight: bold;
    border-top: 2px solid var(--fc-black);
    border-bottom: 2px solid var(--fc-black);
    border-left: 2px solid var(--fc-black);
}

.in-box {
    padding: 2px 24px;
    padding-left: 24px;
    background: transparent;
    color: var(--fc-black);
    font-size: var(--fs-xxmd);
    font-weight: bold;
    border-top: 2px solid var(--fc-black);
    border-bottom: 2px solid var(--fc-black);
    border-right: 2px solid var(--fc-black);
}
.curser{
    cursor: pointer;
}

.current-value {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-xl);
    font-weight: 600;
    line-height: 49.03px;
    border: 2px solid var(--fc-black);
    padding: 2px 24px;
    width: 109px;
    height: 53px
}

.mint-btn {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-xxmd);
    font-weight: 600;
    line-height: 19.07px;
    color: var(--fc-black);
    background: var(--fc-yellow);
    border: 2px solid var(--fc-black);
    padding: 12px 16px;
    margin-top: 35px;
    transition: 1s;
}

.mint-btn:hover {
    color: var(--fc-yellow);
    background: var(--fc-black);
}

.time-left {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-xxxlg);
    font-weight: 600;
    line-height: 24.52px;
    color: var(--fc-green);
    padding-top: 20px;
}

.eget {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-xlg);
    font-weight: 400;
    line-height: 26.57px;
    color: var(--fc-black);
    padding-bottom: 12px;
}

.counting {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-xl);
    font-weight: 600;
    line-height: 39.85px;
    color: var(--fc-black);
}

.para-2 {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-xxxlg);
    font-weight: 400;
    line-height: 27px;
    color: var(--fc-black);

}

.timer {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-xl);
    font-weight: 600;
    line-height: 30.03px;
    color: var(--fc-red);
}

/* ...........................timeline-section..................... */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: var(--fc-black);
    top: 0;
    bottom: -2px;
    left: 50%;
    margin-left: -3px;
}

.container1 {
    padding: 0 0 0 45px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container1::after {
    content: '';
    position: absolute;
    width: 59px;
    height: 59px;
    right: -31px;
    background-image: url("../images/timelinecircle.png");
    top: -8px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.right::after {
    left: -31px;
}

.content {
    padding: 0 15px 0 20px;
    position: relative;
    border-radius: 6px;
}

.br-left2 {
    border-left: 2px solid var(--fc-black);
}

.br-right2 {
    border-right: 2px solid var(--fc-black);
}

.pt-100 {
    padding-top: 100px;
}

.pb-78 {
    padding-bottom: 78px;
}

.phase1 {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-xxmd);
    font-weight: 400;
    line-height: 19.07px;
    color: var(--fc-black);
    padding-bottom: 10px;
}

.community {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-xl);
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    padding-bottom: 12px;
}

.arrow {
    border: solid var(--fc-black);
    border-width: 0 2px 2px 0;
    transform: rotate(44deg);
    width: 20px;
    height: 20px;
    left: 49%;
    bottom: 0;
    position: absolute;
}

.para-3 {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-xxmd);
    font-weight: 400;
    line-height: 27px;
    color: var(--fc-black);
}

/* .............................team-slider-section............ */
.slider-box1 {
    background-image: url("../images/sliderbg-image.png");
    padding-top: 56px;
    padding-bottom: 56px;
    height: 326px;
}

.slider-box2 {
    background-image: url("../images/sliderbg-image.png");
    padding-top: 45px;
    padding-bottom: 45px;
     height: 326px;
}

.executive {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-xl);
    font-weight: 900;
    line-height: 49.03px;
    color: var(--fc-brown);
    text-shadow: -1px -1px 1px var(--fc-black-shadow);
    padding-top: 16px;
}

.crypto {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-xmd);
    font-weight: 400;
    line-height: 21.79px;
    max-width: 407px;
    color: var(--fc-black);
}

.johnny {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-xl);
    font-weight: 900;
    line-height: 49.03px;
    text-shadow: -1px -1px 1px var(--fc-black-shadow);
    color: var(--fc-primary-brown);
    padding-top: 16px;
}

/* ....................................accordion............................... */
.accordion {
    border-left: 2px solid var(--fc-black);
    border-right: 2px solid var(--fc-black);
    --bs-accordion-border-radius: none !important;
}

.accordion-item {
    padding: 16px 20px 21px 15px;
    border-bottom: 2px solid var(--fc-black);
    color: var(--bs-accordion-color);
    background-color: transparent;
    border-top: none !important;
    border-radius: none !important;
}

.accordion-body {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-xmd);
    font-weight: 400;
    line-height: 24px;
    max-width: 992px;
}

.accordion-button:not(.collapsed) {
    color: var(--fc-black) !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.accordion-button {
    font-family: 'Noto Serif', sans-serif;
    font-size: var(--fs-xlg);
    font-weight: 600;
    line-height: 32.69px;
    color: var(--fc-black);
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    background-color: transparent !important;
    border: none !important;
    border-radius: none !important;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);

}

.accordion-item:first-of-type {
    border-top-left-radius: none !important;
    border-top-right-radius: none !important;
}

.accordion-item:last-of-type {
    border-bottom-right-radius: none !important;
    border-bottom-left-radius: none !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../images/accordian-icon.svg");
    transform: var(--bs-accordion-btn-icon-transform);
}

.accordion-button::after {
    position: absolute;
    right: 0;
    flex-shrink: 0;
    margin-left: auto;
    content: "";
    background-image: url("../images/acoordian-plusicon.svg");
    background-repeat: no-repeat;
    background-size: none !important;
    transition: none !important;
}

.accordion-button:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.br-none {
    border-bottom: none;
}

/* .............................footer........................................... */
.text-clr {
    color: var(--fc-black);
}

.py-32 {
    padding-top: 32px;
    padding-bottom: 24px;
}

.topBtn {
    border-radius: 50px;
    display: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
    border: none;
    outline: none;
    background-color: var(--fc-primary-black);
    cursor: pointer;
    padding: 10px;

}

.topBtn.show {
    display: block;
}

.topBtn:active {
    transform: translateY(5px);
}

.br-bt {
    border-bottom: 2px solid var(--fc-black);
}


/*............................................. media-quires...................................... */
@media(max-width:576px) {
    .iconbox {
        width: 30px;
        height: 25px;
        position: relative;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        z-index: 2;
        cursor: pointer;
    }

    .iconbox>span {
        width: 100%;
        height: 4px;
        background-color: var(--fc-black);
        border-radius: 10px;
    }

    .menulist {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        top: 0;
        z-index: 1;
        right: -100%;
        transition: all 300ms linear;
        background-color: var(--fc--primary-white);
    }

    .overflow-hidden {
        overflow: hidden;
    }

    ul.menulist.show {
        right: 0;
    }
}

/* Media queries - Responsive timeline on screens less than 992px wide */
@media screen and (max-width: 992px) {

    .timeline::after {
        left: 50px;
    }

    .container1 {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container1::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after,
    .right::after {
        left: 18px;
    }

    .right {
        left: 0%;
    }

    .arrow {
        left: 38px;
    }

    .content {
        margin-bottom: 20px;
    }
}

@media(min-width:576px) {
    .br-top {
        border-top: 2px solid var(--fc-black);
    }


    .nav-box {
        border-left: 2px solid var(--fc-black);
        border-right: 2px solid var(--fc-black);
    }

    .heading-2 {
        line-height: 87.8px;
    }

    .latest-twt {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .latest-twt1 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .prew-arrow svg path {
        stroke-width: 4;
    }

    .next-arrow svg path {
        stroke-width: 4;
    }

    .community {
        line-height: 39.85px;
    }

    .accordion-item {
        padding: 32px 41px 43px 30px;
    }

    .m-heading {
        line-height: 100.4px;
    }

    .py-64 {
        padding-top: 67px;
        padding-bottom: 64px;
    }

    .time-left {
        padding-top: 36px;
    }

    .timer {
        line-height: 49.03px;
    }
}

@media(min-width:992px) {
    .heading-2 {
        line-height: 100.8px;
    }

    .br-left {
        border-left: 2px solid var(--fc-black);
    }

    .latest-twt {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .latest-twt1 {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .para-1 {
        max-width: 475px;
    }

    .para-2 {
        max-width: 438px;
    }

    .para-3 {
        max-width: 495px;
    }

    .m-heading {
        line-height: 120px;
    }
}

@media(min-width:1200px) {
    .m-heading {
        line-height: 188.4px;
    }
}